<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Data.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Domain.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Infra.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Main.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Presentation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UI.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>UseCasesIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Validation.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7A528B427D16C88006DA170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7AEE80327C27226005FBF16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7AEE81327C27532005FBF16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7AEE81A27C27532005FBF16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7B706A227C6D88A00A1A7AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7B706A927C6D88A00A1A7AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7C64A1D27E1FBBE00333753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7C64A2427E1FBBE00333753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7C64A3D27E2B6CE00333753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7C64A5227E2B6D000333753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7C64A5C27E2B6D000333753</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
